@each $project in parked, sassy-bootstrap
	.project-thumb.#{$project} a
		background: url(/images/project-thumbs/#{$project}-1col.png)

		@media #{$hidpi-media-query}
			background: url(/images/project-thumbs/#{$project}-1col@2x.png)
			background-size: 300px 150px

	.project.#{$project} a
		background: url(/images/project-thumbs/#{$project}-2col.png)

		@media #{$small-media-query}
			background: url(/images/project-thumbs/#{$project}-1col.png)

		@media #{$hidpi-media-query}
			background: url(/images/project-thumbs/#{$project}-2col@2x.png)
			background-size: 640px 150px

			@media #{$small-media-query}
				background-size: 300px 150px
				background: url(/images/project-thumbs/#{$project}-1col@2x.)