.project.parked
	background: url(/projects/parked/images/project-thumb-1col.png)

	@media #{$hidpi-media-query}
		background-image: url(/projects/parked/images/project-thumb-1col@2x.png)
		background-size: 300px 150px