@import reset
@import variables
@import type
@import grid
@import project-thumbs

body > header
  +split
  padding-top: 20px
  height: 48px
  border-bottom: 1px $light-grey solid

  a
    text-decoration: none
    color: inherit
    border-bottom: none

  h1
    font-size: 18px
    font-weight: bold

  small
    font-size: 16px
    font-weight: normal

  svg
    float: left
    margin-top: 12px
    padding-right: 5px
    fill: $text-colour

  nav
    text-align: right
    padding-top: 14px

  @media #{$small-media-query}
    height: auto
    text-align: center

    div.logo

      svg
        width: 60px
        height: 60px
        border-radius: 50%
        padding: 15px
        fill: white
        display: block
        float: none
        margin: auto
        margin-bottom: $base-line-height
        background: $red

      h1
        margin-top: -10px

    nav
      text-align: center
      padding-top: 0
      margin-top: -20px
      margin-bottom: 10px !important

body > section#content
  padding-top: 2em

  @media #{$small-media-query}
    padding-top: 1em

body > footer
  border-top: 1px $light-grey solid
  padding-top: 1em
  padding-bottom: 2em
  text-align: center
  color: $light-text-colour

// Home page

body > section#content
  .intro

    p
      margin-bottom: 12px
      margin-top: 0
      font-size: 28px
      font-weight: 200
      line-height: 48px
      text-align: center
      @media #{$small-media-query}
        font-size: 22px
        line-height: 32px

#recent-activity
  +split

  #posts
    article.post-stub
      border-bottom: 1px $light-grey solid
      padding: 6px 0
      height: $base-line-height
      display: block

      &:hover
        background: $light-grey

      a
        border-bottom: none

      p
        margin: 0
        float: left

      .date
        color: $light-text-colour
        font-size: 12px
        float: right
        margin: 0
        line-height: $base-line-height
        baseline: center

      @media #{$small-media-query}
        padding-top: 1em
        padding: 9px 0 5px 0
        height: 30px

  #projects
    .project-thumb
      margin-bottom: 20px

      a
        text-indent: -3000px
        display: block
        border-bottom: none
        border-radius: 5px
        width: 300px
        height: 150px

        &:hover
          opacity: 0.9

article.post
  margin-bottom: $base-line-height * 2

  header
    text-align: center
    margin-bottom: $base-line-height

    a
      border-bottom: none

      &:hover
        border-bottom: 1px $red solid

    .subtitle
      color: $light-text-colour

  img
    margin-top: $base-line-height

// Projects page

body > #content > #projects
  h1
    margin-bottom: 1em
    text-align: center
  .project
    text-indent: -30000px

    a
      border-radius: 5px
      border-bottom: none
      display: block
      height: 150px
      margin-bottom: $base-line-height / 2

// Parked project page

#content > #parked-promo
  header
    text-align: center
    margin-bottom: $base-line-height

  #screenshots
    a
      margin: 0
      margin-right: 16px
      border: none
      padding: 0

      @media #{$small-media-query}
        display: block
        text-align: center
        margin-bottom: $base-line-height

// Better gist styling
pre
  line-height: 1.5em