html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit; }

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

body {
  color: #555555;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased; }

p {
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 24px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333333; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #aaaaaa; }

h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px; }
  h1 small {
    font-size: 18px; }

h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 48px; }
  h2 small {
    font-size: 18px; }

h3 {
  line-height: 36px;
  font-size: 18px; }
  h3 small {
    font-size: 14px; }

h4, h5, h6 {
  line-height: 24px; }

h4 {
  font-size: 14px; }
  h4 small {
    font-size: 12px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 11px;
  color: #aaaaaa;
  text-transform: uppercase; }

ul, ol {
  margin: 0 0 12px 25px; }

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 24px; }

ul.unstyled {
  margin-left: 0;
  list-style: none; }

dl {
  margin-bottom: 24px; }
  dl dt, dl dd {
    line-height: 24px; }
  dl dt {
    font-weight: bold; }
  dl dd {
    margin-left: 12px; }

hr {
  margin: 24px 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid white; }

strong {
  font-style: inherit;
  font-weight: bold; }

em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit; }

abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

blockquote {
  padding-left: 15px;
  margin-bottom: 24px;
  border-left: 5px solid #eeeeee; }
  blockquote p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px; }
  blockquote small {
    display: block;
    line-height: 24px;
    color: #aaaaaa; }
    blockquote small:before {
      content: "\2014 \00A0"; }
  blockquote.pull-right {
    float: right;
    padding-left: 0;
    padding-right: 15px;
    border-left: 0;
    border-right: 5px solid #eeeeee; }
    blockquote.pull-right p, blockquote.pull-right small {
      text-align: right; }

address {
  display: block;
  margin-bottom: 24px;
  line-height: 24px; }

code, pre {
  padding: 0 3px 2px;
  font-family: "inconsolata", monospace;
  font-size: 12px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

code {
  padding: 1px 3px;
  background-color: #fee9cc;
  font-size: 14px; }

pre {
  display: block;
  padding: 11.5px;
  margin: 0 0 12px;
  font-size: 12px;
  line-height: 24px;
  background-color: whitesmoke;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  overflow-x: scroll; }
  pre.prettyprint {
    margin-bottom: 24px; }
  pre code {
    padding: 0;
    background-color: transparent; }

a {
  color: #9d261d;
  text-decoration: none;
  border-bottom: 1px #9d261d dashed;
  font-weight: inherit; }

body {
  width: 640px;
  margin: auto; }
  @media all and (max-width: 660px) {
    body {
      width: 300px; } }

.split {
  zoom: 1; }
  .split > div, .split > header, .split > section, .split > footer, .split > nav {
    width: 300px;
    margin: 0 0 2em; }
    .split > div:first-child, .split > header:first-child, .split > section:first-child, .split > footer:first-child, .split > nav:first-child {
      float: left; }
    .split > div:last-child, .split > header:last-child, .split > section:last-child, .split > footer:last-child, .split > nav:last-child {
      float: right; }
  .split:before, .split:after {
    content: "";
    display: table; }
  .split:after {
    clear: both; }
  @media all and (max-width: 660px) {
    .split {
      margin-bottom: 1em; }
      .split > div, .split > header, .split > section, .split > footer, .split > nav {
        float: none !important;
        margin: 0 auto 2em; } }

.project-thumb.parked a {
  background: url(/images/project-thumbs/parked-1col.png); }
  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .project-thumb.parked a {
      background: url(/images/project-thumbs/parked-1col@2x.png);
      background-size: 300px 150px; } }

.project.parked a {
  background: url(/images/project-thumbs/parked-2col.png); }
  @media all and (max-width: 660px) {
    .project.parked a {
      background: url(/images/project-thumbs/parked-1col.png); } }
  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .project.parked a {
      background: url(/images/project-thumbs/parked-2col@2x.png);
      background-size: 640px 150px; } }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 660px) {
      .project.parked a {
        background-size: 300px 150px;
        background: url(/images/project-thumbs/parked-1col@2x.); } }

.project-thumb.sassy-bootstrap a {
  background: url(/images/project-thumbs/sassy-bootstrap-1col.png); }
  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .project-thumb.sassy-bootstrap a {
      background: url(/images/project-thumbs/sassy-bootstrap-1col@2x.png);
      background-size: 300px 150px; } }

.project.sassy-bootstrap a {
  background: url(/images/project-thumbs/sassy-bootstrap-2col.png); }
  @media all and (max-width: 660px) {
    .project.sassy-bootstrap a {
      background: url(/images/project-thumbs/sassy-bootstrap-1col.png); } }
  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .project.sassy-bootstrap a {
      background: url(/images/project-thumbs/sassy-bootstrap-2col@2x.png);
      background-size: 640px 150px; } }
    @media all and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 660px) {
      .project.sassy-bootstrap a {
        background-size: 300px 150px;
        background: url(/images/project-thumbs/sassy-bootstrap-1col@2x.); } }

body > header {
  padding-top: 20px;
  height: 48px;
  border-bottom: 1px #eeeeee solid; }
  body > header a {
    text-decoration: none;
    color: inherit;
    border-bottom: none; }
  body > header h1 {
    font-size: 18px;
    font-weight: bold; }
  body > header small {
    font-size: 16px;
    font-weight: normal; }
  body > header svg {
    float: left;
    margin-top: -14px; }
  body > header nav {
    text-align: right;
    padding-top: 14px; }
  @media all and (max-width: 660px) {
    body > header {
      height: auto;
      text-align: center; }
      body > header div.logo {
        margin-bottom: 0; }
        body > header div.logo svg {
          display: none; }
        body > header div.logo h1 {
          margin-top: -10px; }
      body > header nav {
        text-align: center;
        padding-top: 0;
        margin-top: -20px;
        margin-bottom: 10px !important; }
      body > header svg {
        margin-top: -26px; } }

body > section#content {
  padding-top: 2em; }
  @media all and (max-width: 660px) {
    body > section#content {
      padding-top: 1em; } }

body > footer {
  border-top: 1px #eeeeee solid;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
  color: #aaaaaa; }

body > section#content .intro p {
  margin-bottom: 12px;
  margin-top: 0;
  font-size: 28px;
  font-weight: 200;
  line-height: 48px;
  text-align: center; }
  @media all and (max-width: 660px) {
    body > section#content .intro p {
      font-size: 22px;
      line-height: 32px; } }

#recent-activity #posts article.post-stub {
  border-bottom: 1px #eeeeee solid;
  padding: 6px 0;
  height: 24px;
  display: block; }
  #recent-activity #posts article.post-stub:hover {
    background: #eeeeee; }
  #recent-activity #posts article.post-stub a {
    border-bottom: none; }
  #recent-activity #posts article.post-stub p {
    margin: 0;
    float: left; }
  #recent-activity #posts article.post-stub .date {
    color: #aaaaaa;
    font-size: 12px;
    float: right;
    margin: 0;
    line-height: 24px;
    baseline: center; }
  @media all and (max-width: 660px) {
    #recent-activity #posts article.post-stub {
      padding-top: 1em;
      padding: 9px 0 5px 0;
      height: 30px; } }
#recent-activity #projects .project-thumb {
  margin-bottom: 20px; }
  #recent-activity #projects .project-thumb a {
    text-indent: -3000px;
    display: block;
    border-bottom: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
    height: 150px; }
    #recent-activity #projects .project-thumb a:hover {
      opacity: 0.9; }

article.post {
  margin-bottom: 48px; }
  article.post header {
    text-align: center;
    margin-bottom: 24px; }
    article.post header a {
      border-bottom: none; }
      article.post header a:hover {
        border-bottom: 1px #9d261d solid; }
    article.post header .subtitle {
      color: #aaaaaa; }
  article.post img {
    margin-top: 24px;
    margin-bottom: 24px; }

body > #content > #projects h1 {
  margin-bottom: 1em;
  text-align: center; }
body > #content > #projects .project {
  text-indent: -30000px; }
  body > #content > #projects .project a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border-bottom: none;
    display: block;
    height: 150px;
    margin-bottom: 12px; }

#content > #parked-promo header {
  text-align: center;
  margin-bottom: 24px; }
#content > #parked-promo #screenshots a {
  margin: 0;
  margin-right: 16px;
  border: none;
  padding: 0; }
  @media all and (max-width: 660px) {
    #content > #parked-promo #screenshots a {
      display: block;
      text-align: center;
      margin-bottom: 24px; } }
