---
layout: default
title: Home
---

{% if paginator.page == 1 %}
<section id="intro">
  <p class="message">
    I'm graduating from my Computer Science degree at the end of 2014 and currently looking for a full-time employment. If you're looking for a passionate, talented iOS or web developer I'd really appreciate <a href="/contact">hearing from you</a>.
  </p>
</section>
{% endif %}

<section class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <header class="post-head">
      <h1 class="post-title">
        {% if post.link %}
          <a href="{{ post.link }}">
            {{ post.title }}
          </a>
          <span class="outbound-link-indicator">→</span>
        {% else %}
            {{ post.title }}
        {% endif %}
      </h1>
      <span class="post-date">{{ post.date | date_to_string }}</span>
    </header>
    <section class="post-content">
      {{ post.content }}
    </section>
    <footer class="post-footer">
      <a href="{{ post.url }}" class="permalink">∞</a>
    </footer>
  </article>
  {% endfor %}
</section>

<section class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</section>
