/*************
 * Variables *
 *************/

:root {
  /* Type */
  --sans-serif-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  /* Metrics */
  --site-max-width: 48rem;
}

html.theme-light {
  --text-color: #121a2f;
  --secondary-text-color: #5b96a5;
  --background-color: #fcfffb;
  --brand-color: #5b96a5;
  --grey-color: #5b96a5;
}

html.theme-dark {
  --text-color: #fcfffb;
  --secondary-text-color: #5b96a5;
  --background-color: #121a2f;
  --brand-color: rgb(230, 219, 116);
  --grey-color: #5b96a5;
}

html.font-small {
  font-size: 80%;
}

html.font-medium {
  font-size: font-size: 100%;
}

html.font-large {
  font-size: 125%;
}


/***************
 * Base Styles *
 ***************/

body {
  font-family: var(--sans-serif-font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  color: var(--brand-color);
  text-decoration: none;
}

a:visited {
  color: var(--brand-color);
}

a:hover {
  color: var(--text-color);
  text-decoration: underline;
}

/**********
 * Header *
 **********/

#site-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;

  color: var(--background-color);
  background-color: var(--brand-color);
}

#site-header > .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;

  max-width: var(--site-max-width);
  padding: 0 1rem;
}

#site-header a {
  color: var(--background-color);
}

#site-header h1 {
  font-weight: 200;
  letter-spacing: -1px;
  font-size: 1.625rem;
  margin: 0;
  line-height: 3.5rem;
  vertical-align: baseline;
}

#site-header svg.logo {
  position: relative;
  top: 5px;
  margin-right: 8px;
  fill: var(--background-color);
}

#site-header #site-nav {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#site-header #site-nav .page-link {
  line-height: 3.5rem;
  vertical-align: middle;
}

#site-header #site-nav .page-link:not(:last-child) {
  margin-right: 2rem;
}

#site-header #site-nav .page-link svg.icon {
  fill: var(--background-color);
  position: relative;
  top: 3px;
}

@media (max-width: 32rem) {
  #site-header > .wrapper {
    flex-direction: column;
  }

  #site-header h1 {
    text-align: center;
  }

  head#site-header #site-nav {
    text-align: center;
  }
}

/**********
 * Footer *
 **********/

#site-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
  padding: 2rem 1rem 4rem;
  max-width: var(--site-max-width);

  color: var(--grey-color);
  font-size: calc(1rem - 1pt);
  line-height: 1.3rem;
}

#site-footer ul.contact,
#site-footer ul.social-media-list {
  list-style: none;
  padding: 0;
}

#site-footer .summary {
  grid-column: 3 / 5;
}

#site-footer .social-media-list .icon {
  fill: var(--grey-color);
}

@media (max-width: 32rem) {
  #site-footer {
    grid-template-columns: repeat(2, 1fr);
  }

  #site-footer .summary {
    grid-column: 1 / 3;
  }
}

/****************
 * Blog Listing *
 ****************/

#blog-listing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem 1rem;
  max-width: var(--site-max-width);
  padding: 1rem;
}

#blog-listing .page-heading {
  grid-column: 1 / 5;
  margin: 0;
}

#blog-listing .post-list {
  display: contents;
}

#blog-listing .post-list .post {
  display: contents;
}

#blog-listing .post-list .post .post-meta,
#blog-listing .post-list .post .post-meta time {
  grid-column: 4 / 5;
  vertical-align: middle;
  text-align: right;
  line-height: 1.5rem;

  font-size: calc(1rem - 1pt);
  color: var(--grey-color);
}

#blog-listing .post-list .post .post-title {
  grid-column: 1 / 4;
  vertical-align: baseline;
  margin: 0;
  font-size: 1.5rem;
}

@media (max-width: 32rem) {
  #blog-listing {
    grid-template-columns: repeat(3, 1fr);
  }

  #blog-listing .page-heading {
    grid-column: 1 / 4;
  }

  #blog-listing .post-list .post .post-title {
    grid-column: 1 / 3;
  }

  #blog-listing .post-list .post .post-meta,
  #blog-listing .post-list .post .post-meta time {
    grid-column: 3 / 4;
  }
}

/*************
 * Blog Post *
**************/

article.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.post header.post-header {
  cross: 10000;
  max-width: var(--site-max-width);
}

article.post h1.post-title {
  width: 100%;
}
