body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333; }

#wrapper {
  width: 800px;
  margin: auto;
  margin-top: 40px; }

img.screenshot {
  float: left;
  margin-right: 40px; }

header img.app-icon {
  float: left;
  padding-right: 16px; }
header h1 {
  padding: 50px 0; }
  header h1 small {
    font-weight: normal;
    color: #aaaaaa; }

li, p {
  margin-bottom: 1em; }

footer {
  margin-top: 50px;
  color: #aaaaaa;
  font-size: 12px; }

a#app-store-link img {
  display: block;
  margin: auto; }
