---
---
@import "./variables", "minima/base", "minima/layout", "./syntax-highlighting";

.site-header, .site-footer {
  border: none;
}

.site-header {
  background-color: $brand-color !important;
}

.site-header .site-title, .site-title, .site-title:visited {
  color: $background-color;
}

pre, code {
  background-color: rgba(0,0,0,0);
}

pre {
  border: none;
}

a:visited {
  color: $brand-color;
}

.site-nav .page-link {
  color: $background-color;
}
