<!DOCTYPE html>
<html>
  <head>
    {% if page.title %}
      <title>{{page.title}} | {{site.title}}</title>
    {% else %}
      <title>{{site.title}}</title>
    {% endif %}
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <!-- Typekit -->
    <script type="text/javascript" src="http://use.typekit.com/miv4vzl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- iOS Web Clip Icons -->
    <link rel="apple-touch-icon" href="/images/webclip/Large.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/webclip/iPhone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/webclip/iPad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/webclip/iPhone@2x.png" />
    
    <script type="text/javascript" src="http://konami-js.googlecode.com/svn/trunk/konami.js"></script>
    <script type="text/javascript">
    	konami = new Konami()
    	konami.load("http://nyan.cat/");
    </script>
  </head>
  <body>
    <section id="content" class="container">
      {% include header.html %}
      
      <div class="row">
        <div class="span12">
          {{content}}
        </div>
      </div>
    </section>
    
    {% include footer.html %}
  </body>
</html>

