<!DOCTYPE html>
<html lang="en-AU">
	<head>
		{% if page.title %}
		<title>{{page.title}} | Rhys Powell</title>
		{% else %}
		<title>Rhys Powell</title>
		{% endif %}
		<meta content='text/html; charset=utf-8' http-equiv='content-type' />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="author" content="Rhys Powell" />
		<meta name="description" content="The personal site of Rhys Powell, computer science student and hobbyist developer" />

		<!-- Typekit -->
		<script type="text/javascript" src="http://use.typekit.com/miv4vzl.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<!-- iOS Web Clip Icons -->
		<link rel="apple-touch-icon" href="/images/webclip/Large.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="/images/webclip/iPhone.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/images/webclip/iPad.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/images/webclip/iPhone@2x.png" />

		<!-- RSS Feeds -->
		<link rel="alternate" type="application/atom+xml" title ="Rhys Powell's Waste of Space" href="/atom.xml">

		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/css/site.css">
		<link rel="stylesheet" type="text/css" href="/css/syntax.css">
	</head>
	<body>
		{% include header.html %}

		<section id="content">
			{{ content }}
		</section>

		<footer>
			<section class="notice">
			  <p>I recently started <a href="http://hackuow.com/">HackUOW</a>, a student developer community based in Wollongong. You should check it out.</p>
			</section>

			<hr />

			<p>I'm also on <a href="http://twitter.com/rwpwll">Twitter</a> and <a href="http://github.com/rpwll">Github</a>. Pleased to meet you.</p>
		</footer>
	</body>
</html>

