<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-0c">

    {% include sidebar.html %}

    <section class="content container">
      <section id="intro">
        <p class="message">
          I'm graduating from my Computer Science degree at the end of 2014 and currently looking for a full-time employment. If you're looking for a passionate, talented iOS or web developer I'd really appreciate <a href="/contact">hearing from you</a>.
        </p>
      </section>

      {{ content }}

      {% include foot.html %}
    </section>

    <script type="text/javascript" charset="utf-8" src="/javascripts/retina.js"></script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '5312bec1e32bb4498d00135c');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
