---
layout: default
---

<main id="blog-post" class="page-content" aria-label="Content">
  <article class="post{% if page.link.size > 0 %} link-post{% endif %}" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">
        {%- if page.link.size > 0 -%}
          <a href="{{post.link}}" itemprop="basedOn">{{ page.title | escape }} &rarr;</a>
        {%- else -%}
          {{ page.title | escape }}
        {%- endif -%}
      </h1>
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author.name }}</span></span>
        {% endif %}
        {%- if page.tags.size != 0 -%}
          • <span itemprop="keywords">{{ page.tags | join: ", " }}</span>
        {%- endif -%}</p>
      </p>
    </header>
    <div class="post-content" itemprop="articleBody">
      {% if page.image %}
        <img
          src="{{ page.image | absolute_url }}"
          {% if page.image-srcset %}
          srcset="{{ page.image-srcset | join:',' }}"
          {% endif %}
         />
      {% endif %}
      {{ content }}
    </div>
  </article>
</main>
